name "Geranium"
author "Henry Pickle"
vars {
	xo "cos(pi * 0.4)"
	yo "sin(pi * 0.4)"
	xt "cos(pi * 0.8)"
	yt "sin(pi * 0.8)"
}
circles {
	A x=1.0 y=0.0 r=1.4
	B x=xo y=yo r=1.4
	C x=xt y=yt r=1.4
	D x=xt y="-1.0 * yt" r=1.4
	E x=xo y="-1.0 * yo" r=1.4
	SYM x=0.0 y=0.0 r=10.0
}
base A B C D E
twists {
	A A 10
	B B 10
	C C 10
	D D 10
	E E 10
	SYM SYM 5 !
}
cut SYM* A3' C3 A3 C3' D
cut SYM* A3 D3' A3' D3 C
cut SYM* A4' D3' A C
cut SYM* A4 C3 A' D
cut SYM* A' D3' A C
color RED A !E
color BLUE B !A
color GREEN C !B
color PURPLE D !C
color YELLOW E !D
color BLACK A B C D E