name "Pyramid"
author "Henry Pickle"
circles {
    A x=-0.5 y=0.0 r=0.7
    B x=0.5 y=0.0 r=0.57
}
base A B
twists {
    A A 10
    B B 10
}
compounds {
    AB A B
}
cut AB120
color BLUE A B
color RED A !B
color GREEN B !A