name Flowers
author "Henry Pickle"
vars {
	R 2
}
circles {
	A x=1 y=0 r=R
	B x=0 y=1 r=R
	C x=-1 y=0 r=R
	D x=0 y=-1 r=R
	SYM x=0 y=0 r=10
}
base A B C D
twists {
	A A 2
	B B 2
	C C 2
	D D 2
	SYM SYM 4 !
}
compounds {
	AB A B
}
cut SYM* A* B* C* AB5
color RED A !B
color BLUE B !C
color GREEN C !D
color YELLOW D !A