name "Tarnished"
author "cryofractal"
circles {
    M x=0.0 y=0.0 r=0.729166666667
    A x=0.0 y=0.833333333333 r=1.0
    B x=-0.721687836487 y=-0.416666666667 r=1.0
    C x=0.721687836487 y=-0.416666666667 r=1.0
    SYM x=0.0 y=0.0 r=10.0
}
base A B C M
twists {
    M M 3
    A A 2
    B B 2
    C C 2
    SYM SYM 3 !
}
compounds {
    AM A M
}
cut SYM* AM4
cut SYM* A B C
colors {
	WHITE 245 245 245
	PINK 248 200 220
	GREEN 128 239 128
	BLUE 179 235 242
}
color WHITE M
color WHITE A B !M
color WHITE B C !M
color WHITE A C !M
color PINK A !B !C !M
color GREEN B !A !C !M
color BLUE C !A !B !M