name "Arecibo"
author "cryofractal"
circles {
    A x=-0.41 y=0.0 r=1.0
    B x=0.41 y=0.0 r=1.0
}
base A B
twists {
    A A 3
    B B 3
}
compounds {
    AB A B
    BA B A
}
cut AB8
cut BA8
colors {
	RED 255 116 108
	PURPLE 179 158 181
	BLUE 179 235 242
}
color PURPLE A B
color RED A !B
color BLUE B !A