name "Buffer"
author "Hollister Ream"
circles {
    Ac x=-0.5 y=0.0 r=1.0
    Bc x=0.7 y=0.0 r=0.9
    SYMc x=0.0 y=0.0 r=10.0
}
base Ac Bc
twists {
    A Ac 2
    B Bc 4
    SYM SYMc 2 !
}
compounds {
    AB A B
}
colors {
    salmon 250 128 114
    bluey 51 51 255
    pinkish 255 102 255
}
//cut SYM* A* B* A
cut AB5
color RED Ac !Bc
color YELLOW Bc !Ac
color ORANGE Bc Ac