name "4 4 4 Pair"
author "Hollister Ream"
circles {
    Centerc x=0.0 y=0.0 r=1.25
    Ac x=1.0 y=1.0 r=0.5
    Bc x=-1.0 y=-1.0 r=0.5
    SYMc x=0.0 y=0.0 r=10.0
}
base Ac Bc Centerc
twists {
    Ct Centerc 4
    A Ac 4
    B Bc 4
    SYM SYMc 2 !
}
compounds {
    CompA A Ct
}
cut SYM* CompA6
//cut CompA6
//cut Ct CompA6
color WHITE Centerc
color RED Ac !Centerc
color BLUE Bc !Centerc
color LIGHT_RED Ac Centerc
color LIGHT_BLUE Bc Centerc