name "Dual Pair"
author "Hollister Ream"
circles {
    Centerc x=0.0 y=0.0 r=1.25
    Ac x=1.0 y=1.0 r=0.5
    Bc x=-1.0 y=-1.0 r=0.5
    Cc x=0.0 y=1.3 r=0.4
    Dc x=0.0 y=-1.3 r=0.4
    SYMc x=0.0 y=0.0 r=10.0
}
base Ac Bc Centerc Cc Dc
//base Ac Bc Centerc
twists {
    Ct Centerc 4
    A Ac 5
    B Bc 5
    C Cc 3
    D Dc 3
    SYM SYMc 4 !
}
compounds {
    CompA A Ct
    CompB C Ct
}
cut SYM* CompA20
cut SYM* CompB20
color DARK_GRAY Centerc
color RED Ac !Centerc
color BLUE Bc !Centerc
color DARK_RED Ac Centerc
color DARK_BLUE Bc Centerc
color GREEN Cc
color DARK_GREEN Cc Centerc
color YELLOW Dc
color GOLD Dc Centerc