name "Inner"
author "Henry Pickle"
circles {
	R x=0.5 y=0.5 r=0.7
	O x=-0.5 y=0.5 r=0.8
	I x=-0.5 y=0.5 r=0.6
}
base R O I
twists {
	R R 6
	O O 6
	I I 4
	OO O 3
}
cut OO* R* O* I* R
color BLUE O R
color GREEN R !O
color YELLOW I !R
color RED O !I !R