name "Triacronic Triaxe Line 2C"
author "Henry Pickle"
circles {
    L x=-1.0 y=0.0 r=0.8
    M x=0.0 y=0.0 r=0.8
    R x=1.0 y=0.0 r=0.8
    DL x=-0.5 y="-0.5*sqrt(3.0)" r=0.8
    UL x=-0.5 y="0.5*sqrt(3.0)" r=0.8
    DR x=0.5 y="-0.5*sqrt(3.0)" r=0.8
    UR x=0.5 y="0.5*sqrt(3.0)" r=0.8
    
}
base L R M
twists {
    L L 6
    R R 6
    M M 6
}
list MBIG {
    - 6 M
}
cut L* M
cut M* L
cut R* M
cut M* R
along MBIG {
    color BLUE L M DL
}