name "Triacronic Triaxe Line"
author "Henry Pickle"
circles {
    L x=-1.0 y=0.0 r=0.8
    M x=0.0 y=0.0 r=0.8
    R x=1.0 y=0.0 r=0.8
    DL x=-0.5 y="-0.5*sqrt(3.0)" r=0.8
    UL x=-0.5 y="0.5*sqrt(3.0)" r=0.8
    DR x=0.5 y="-0.5*sqrt(3.0)" r=0.8
    UR x=0.5 y="0.5*sqrt(3.0)" r=0.8
    
}
base L R M
twists {
    L L 6
    R R 6
    M M 6
}
cut L* M
cut M* L
cut R* M
cut M* R
color BLUE L M DL
color BLUE L M UL
twist M2
color BLUE L M DL
color BLUE L M UL
twist M2
color BLUE L M DL
color BLUE L M UL
twist M2
twist L2
color GREEN L M DL
color GREEN L M UL
twist L2
color GREEN L M DL
color GREEN L M UL
undo *
twist R2
color RED R M DR
color RED R M UR
twist R2
color RED R M DR
color RED R M UR
undo *