name "Sphenic Triaxe (Unoriented)"
author "HactarCE"
vars {
	R 0.5773502692
	//R 0.55
}
circles {
	A x=-0.5 y=0.0 r=R
	B x=0.5 y=0.0 r=R
	C x=0.0 y=0.8660254 r=R
	SYM x=0.0 y=0.2886751 r=10.0
}
base A B C
twists {
	A A 6
	B B 6
	C C 6
	SYM SYM 3 !
}
cut SYM* A* B
color RED A !B !C
color GREEN B !A !C
color BLUE C !A !B
color YELLOW A B
color MAGENTA A C
color CYAN B C
