name "66 Pleione"
author "cryofractal"
// comments are for potential future Pleione generator
circles {
    // for A radius (aligns 3 triangles on a corner): r = 0.5/cos(pi/7)
    // B radius WIP, make 2 adjacent pieces to the spiky tangent so it looks better, 6+ can full spiky
    A x=-0.5 y=0.0 r=0.57735026919
    B x=0.5 y=0.0 r=0.86
}
base A B
twists {
    A A 6
    B B 6
}
compounds {
    AB A B
    BA B A
}
cut B AB19
colors {
	WHITE 245 245 245
	GREEN 128 239 128
	BLUE 179 235 242
}
color WHITE A B
color GREEN A !B
color BLUE B !A 