name "Slivers"
author "Henry Pickle"
circles {
	A x=-0.5 y=0.0 r=0.92
	B x=0.5 y=0.0 r=0.61
}
base A B
twists {
	A A 5
	B B 5
}
compounds {
	AB A B
}
cut AB13
color GREEN A !B
color BLUE A B
color RED B !A