name "Triacronic Biaxe 5C"
author "Henry Pickle"
circles {
    L x=-0.5 y=0.0 r=0.8
    R x=0.5 y=0.0 r=0.8
    D x=0.0 y="-0.5*sqrt(3.0)" r=0.8
    U x=0.0 y="0.5*sqrt(3.0)" r=0.8
    UL x=-1.0 y="0.5*sqrt(3.0)" r=0.8
    DL x=-1.0 y="-0.5*sqrt(3.0)" r=0.8
    UR x=1.0 y="0.5*sqrt(3.0)" r=0.8
    DR x=1.0 y="-0.5*sqrt(3.0)" r=0.8
}
base L R UL DL UR DR
twists {
    L L 6
    R R 6
}
cut L* R
cut R* L
color RED UR !R
color MAGENTA DR !R
color GREEN DL !L
color YELLOW UL !L
color BLUE L R D
color BLUE L R U
twist L2
color YELLOW L R D
color YELLOW L R U
twist L2
color GREEN L R D
color GREEN L R U
undo *
twist R2
color MAGENTA L R D
color MAGENTA L R U
twist R2
color RED L R D
color RED L R U
undo *