name "Triacronic Biaxe Full 2C"
author "Henry Pickle"
circles {
    L x=-0.5 y=0.0 r=0.8
    R x=0.5 y=0.0 r=0.8
    D x=0.0 y="-0.5*sqrt(3.0)" r=0.8
    U x=0.0 y="0.5*sqrt(3.0)" r=0.8
}
base L R
twists {
    L L 6
    R R 6
}
cut L* R
cut R* L
color RED R
color GREEN !R L