name "Triacronic Biaxe"
author "Henry Pickle"
circles {
    L x=-0.5 y=0.0 r=0.8
    R x=0.5 y=0.0 r=0.8
    D x=0.0 y="-0.5*sqrt(3.0)" r=0.8
    U x=0.0 y="0.5*sqrt(3.0)" r=0.8
}
base L R
twists {
    L L 6
    R R 6
}
cut L* R
cut R* L
color BLUE L R D
color BLUE L R U
twist L2
color GREEN L R D
color GREEN L R U
twist L2
color GREEN L R D
color GREEN L R U
undo *
twist R2
color RED L R D
color RED L R U
twist R2
color RED L R D
color RED L R U
undo *