name "Triforce"
author "Henry Pickle"
circles {
	A x=-0.5 y=0.0 r=0.8
	B x=0.5 y=0.0 r=0.6
}
base A B
twists {
	A A 6
	B B 6
}
compounds {
	AB A B
}
cut AB50
color BLUE A B
color GREEN !A B
color RED !B A