name "Heptagons 1-1"
author "cryofractal"
circles {
	A x=-0.5 y=0.0 r=0.75
	B x=0.5 y=0.0 r=0.63
}
base A B
twists {
	A A 7
	B B 7
}
compounds {
	AB A B
}
colors {
	WHITE 245 245 245
	PINK 248 200 220
	GREEN 128 239 128
	BLUE 179 235 242
}
cut AB72
color BLUE A !B
color WHITE A B
color PINK B !A