name "Squares"
author "Henry Pickle"
circles {
	A x=-0.5 y=0.0 r=0.56
	B x=0.5 y=0.0 r=0.70
}
base A B
twists {
	A A 8
	B B 8
}
compounds {
	AB A B
}
cut AB100
color BLUE A B
color GREEN !A B
color RED !B A