name "Sphenic Triaxe"
author "HactarCE"
circles {
	A x=-0.5 y=0.0 r=0.5773502692
	B x=0.5 y=0.0 r=0.5773502692
	C x=0.0 y=0.8660254 r=0.5773502692
	SYM x=0.0 y=0.2886751 r=10.0
	far_A x=-5.5 y=-8.6602540378 r=9.5
	color_CA x=4.5 y=8.6602540378 r=9.5
	color_AB x=-9.5 y=0.0 r=9.5
	color_BC x=5.0 y=-7.7942286859 r=9.5
}
base A B C
twists {
	A A 6
	B B 6
	C C 6
	SYM SYM 3 !
	far_A far_A 1 !
}
cut SYM* A* B

// cut halfway thru 2-color sphenes
cut A3 far_A
cut B C A3 far_A
cut B' A2 far_A

colors {
	RED 255 0 0
	GREEN 0 255 0
	BLUE 0 0 255
}

// main circles
color RED A !B !C
color GREEN B !A !C
color BLUE C !A !B

// 2-color sphenes
color BLUE C A color_CA
color RED C A !color_CA
color RED A B color_AB
color GREEN A B !color_AB
color GREEN B C color_BC
color BLUE B C !color_BC
