name "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
author "my friend jim."
circles {
    A x=-0.5 y=0.0 r=0.8
    B x=0.5 y=0.0 r=0.8
}
base A B 
twists {
    A A 2
    B B 2
}
cut A B A B
color GREEN A !B
color RED B !A
color BLUE A B