name "666 Sphenic Triaxe (Unoriented)"
author "HactarCE"
circles {
	A x=-0.5 y=0.0 r=0.5773502692
	B x=0.5 y=0.0 r=0.5773502692
	C x=0.0 y=0.8660254 r=0.5773502692
	SYM x=0.0 y=0.2886751 r=10.0
}
base A B C
twists {
	A A 6
	B B 6
	C C 6
	SYM SYM 3 !
}
cut SYM* A* B
colors {
	RED 255 0 0
	GREEN 0 255 0
	BLUE 0 0 255
	YELLOW 255 255 0
	MAGENTA 255 0 255
	CYAN 0 255 255
}
color RED A !B !C
color GREEN B !A !C
color BLUE C !A !B
color YELLOW A B
color MAGENTA A C
color CYAN B C
